# top level gitignore

# macOs related
.DS_Store

# editor related
*.swp
\#*\#
*~

# qcow2 drivers
*.qcow2

# configurations
*.conf

# logs
*.log

# lsp
compile_commands.json

# build folders
build/
/src/hw/pnvl_hw.h

# user programs
src/sw/userspace/chiplet0
src/sw/userspace/master0
src/sw/userspace/chiplet1
src/sw/userspace/master1
src/sw/userspace/master-mm
src/sw/userspace/chiplet-mm

# kernel module
*.symvers
*.order
*.ko
*.mod.c

# kernel source
linux-*/

# busybox source
busybox-*/

# qemu vm
vm/vdb-1.img
vm/vdb-2.img
vm/part*
